API_XUMM_KEY=
API_SECRET =
PINATA_API_KEY =
PINATA_API_KEY_SECRET = 
PRIVATE_KEY_TEST_ISSUER = 
PINATA_JWT = 
KAIJU_SAAS_WALLET_BASE_URL=https://api.wallet.kaiju3d.com/v1

KAIJU_GOOGLE_AUTH_PROVIDER_ID=
KAIJU_PROJECT_ACCESS_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

XRPL_SERVER_URL=wss://s.altnet.rippletest.net:51233

# change below variable when moving to producton
SESSION_COOKIE_NAME=
IRON_SESSION_PWD=